{% extends "spirit/_header.html" %}

{% block custom_header_logo %}
{% load static %}

  <img id="custom-logo" src="/media/defaults/default_prof_pic.jpg" alt="Profile Picture">
  <a id="custom-title" href="{% url "spirit:index" %}">Клуб любителей AE86</a>

  <style>
    @font-face {
      font-family: 'HeaderFont';
      src: url("{% static 'spirit/font/TruenoBoldOutlineItalic-454Y.otf' %}") format('opentype');
    }

    #custom-logo {
      height: 1.75rem;
      width: auto;
    }

    #custom-title {
      line-height: 3rem;
      font-size: 1.75rem;
      color: var(--st-header-logo);
      font-family: HeaderFont;
      margin-left: 10px;
    }

    @media (max-width: 768px) {
      #custom-logo {
        height: 1.25rem;
      }

      #custom-title {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }
  </style>
{% endblock %}