{% extends "spirit/user/auth/register.html" %}
{% load static %}

{% block content %}
  <h1 class="headline">Регистрация</h1>

  <form method="post" action=".">
    {% csrf_token %}

    <div class="field">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>

    <div class="field">
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>

    <div class="field">
      {{ form.email2.label_tag }}
      {{ form.email2 }}
    </div>

    <div class="field">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>

    <div class="field">
      {{ form.recaptcha }}
    </div>

    <input class="button" type="submit" value="Зарегистрироваться">
  </form>
{% endblock %}
